/* Globals */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
}

body {
	display: flex;
	justify-content: center;
	align-self: center;
	font-family: "Rambla", sans-serif;
	background-color: #f3f2ee;
}

li {
	list-style: none;
	margin-left: 2rem;
	font-size: 1.7rem;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 769px;
	background-color: #f3f2ee;
}

/* Header Section */
.navbar-container {
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	z-index: 10;
}

.navbar {
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	width: 769px;
	padding: 0 1.5rem;
}

.logo {
	margin-right: -0.5rem;
}

.search-container {
	width: 31rem;
	transition: all 0.5s ease;
	position: relative;
}

#search {
	padding: 1rem;
	padding-left: 3rem;
	width: 70%;
	transition: width 0.5s ease;
	border: none;
	background-color: #eef3f7;
	border-radius: 0.5rem;
}

#search:focus {
	outline: none;
	padding-left: 4rem;
	width: 100%;
}

#search:hover {
	outline: none;
	border: none;
}

.search-icon {
	cursor: text;
	position: absolute;
	left: 1.2rem;
	top: 1.2rem;
}

.btns {
	display: flex;
	margin-right: 2rem;
}

.btn-group {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	filter: invert(30%);
}

.btn-group:hover {
	filter: invert(0%);
	color: var(--color-gray-3);
	transition: all 0.3s ease;
}

.btn-group span {
	font-size: 1rem;
}

.profile {
	display: flex;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-item {
	width: 2.5rem;
	border-radius: 50%;
}

/* Main content */

.main-content {
	width: 796px;
	margin-top: 7rem;
}

.main-content article {
	background-color: white;
	border-radius: 0.5rem;
	margin: 3rem;
}

.profile-info {
	background: no-repeat url("./images/fundo.png");
	background-size: contain;
	height: 38rem;
	position: relative;
}

.profile-info-container {
	position: absolute;
	top: 9rem;
	padding: 3rem;
}

.profile-img img {
	border-radius: 50%;
}
